<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- Server Express database in default instance -->
    <add name="EF6ConnectionString"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=(LocalDB)\mssqllocaldb;Initial Catalog=EF6;Integrated Security=True;MultipleActiveResultSets=True"/>

    <!--  SQL Server Express database in a .mdf file in the App_Data folder
    <add name="EF6ConnectionString"
        providerName="System.Data.SqlClient" 
        connectionString="Data Source=(LocalDB)\mssqllocaldb;AttachDbFileName=m:\EF6.mdf;Integrated Security=True;MultipleActiveResultSets=True" /> -->

    <!-- SQL Server (Full Edition) database using default SQL Server instance 
    <add name="EF6ConnectionString"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=ServerName;Initial Catalog=EF6;Integrated Security=False;User Id=userid;Password=password;MultipleActiveResultSets=True" />-->

    <!--  SQL Server (Full Edition) database using named SQL Server instance 
    <add name="EF6ConnectionString"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=ServerName\InstanceName;Initial Catalog=EF6;Integrated Security=True;MultipleActiveResultSets=True" />-->

    <!--  SQL Server CE 
    <add name="EF6ConnectionString"
        providerName="System.Data.SqlServerCe.4.0"
        connectionString="Data Source=|DataDirectory|\EF6.sdf" />-->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>